@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&family=Red+Hat+Display:ital,wght@0,500;0,900;1,700&family=Roboto&display=swap');

:root {
    --BrightOrange: hsl(31, 77%, 52%);
    --DarkCyan: hsl(184, 100%, 22%);
    --VeryDarkCyan: hsl(179, 100%, 13%);

    --TransparentWhite: hsla(0, 0%, 100%, 0.75);
    --VerylightGray: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    background-color: var(--VerylightGray);
}

.container {
    padding: 30px
}

.card {
    padding: 40px;
}

p {
    font-size: 15px;
    line-height: 1.5;

}

h3 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
}

img,
h3 {
    margin-bottom: 25px;
}

.btn {
    color: black;
    cursor: pointer;
    background-color: var(--VerylightGray);
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 25px;
    height: 50px;
    width: 150px;
    transition: all 0.2s ease-in-out;
}



.sedan-card {
    background-color: var(--BrightOrange);
    border-radius: 10px 10px 0 0;
}

.sedan-card .btn {
    color: var(--BrightOrange);
}

.suv-card {
    background-color: var(--DarkCyan);
}

.suv-card .btn {
    color: var(--DarkCyan);
}

.luxury-card {
    background-color: var(--VeryDarkCyan);
    border-radius: 0 0 10px 10px;
}

.luxury-card .btn {
    color: var(--VeryDarkCyan);
}

.btn:hover {
    background-color: transparent;
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: black;
    padding-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1280px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: auto;
        max-width: 1000PX;
    }
    .card{
        padding: 50px;
    }

    img{
        margin-bottom: 40px;
    }

    p{
        margin-bottom: 40px;
    }

    .sedan-card {
        border-radius: 10px 0 0 10px;
    }

    .luxury-card {
        border-radius: 0 10px 10px 0;
    }
}