@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --SoftRed: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --DarkDesaturatedCyan: hsl(167, 40%, 24%);
    --DarkBlue: hsl(198, 62%, 26%);
    --DarkModerateCyan: hsl(167, 47%, 68%);
    --DarkModerateCyan2: hsl(168, 34%, 41%);

    --VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --VeryDarkGrayishBlue: hsl(213, 9%, 39%);
    --DarkGrayishBlue: hsl(232, 10%, 55%);
    --GrayishBlue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
}

.menu-list {
    display: none;
}

.hide {
    opacity: 0.5;
}

.hamburger {
    transition: all 0.4s ease;
}

.menu-list-active {
    font-family: "barlow", sans-serif;
    position: absolute;
    top: 8rem;
    left: 6%;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 2.5rem solid white;
    border-left: 2.5rem solid transparent;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 3.6rem 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
}

li a {
    font-size: 1.9rem;
    text-decoration: none;
    color: var(--DarkGrayishBlue);
}

.a:hover {
    color: var(--VeryDarkGrayishBlue)
}

.btn {
    font-family: "fraunces", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 40px;
    background-color: var(--Yellow);
    border-radius: 50px;
    cursor: pointer;
    color: var(--VeryDarkDesaturatedBlue);
    margin-top: 40px;
}

.btn:hover {
    background-color: var(--GrayishBlue);
    color: white;
}

.hero {
    position: relative;
}

.hero-desc {
    position: absolute;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    top: 25%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-desc img {
    margin-top: 70px;
}

.img-desktop {
    display: none;
}

.img-mobile {
    width: 100%;
}

.content-desc {
    display: flex;
    padding: 80px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .img-desktop {
    display: none;
    width: 100%;
}

.content .img-mobile {
    width: 100%;
}

.content-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-desc h2 {
    font-family: "Fraunces", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.content-desc p {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    text-align: center;
    color: var(--DarkGrayishBlue);
    line-height: 1.5;
}

.overlay-img {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 60%;
    z-index: 1;
    padding: 20px 40px;
}

.overlay-text h3 {
    font-family: "Fraunces", sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
    color: var(--VeryDarkGrayishBlue);
}

.overlay-text p {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    text-align: center;
    color: var(--VeryDarkGrayishBlue);
    line-height: 1.5;
}

.testimonials {
    padding: 6.4rem 2rem 2rem;
}

.testimonials h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    color: var(--DarkGrayishBlue);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.clients-wrapper {
    padding: 60px 0;
}

.client {
    margin: 0.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 28px;
}

.client img {
    width: 22%;
    border-radius: 50%;
}

.testimonial {
    font-family: "Barlow", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 40px 0 40px 0;
    line-height: 1.5;
    color: var(--DarkGrayishBlue)
}

.name {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 28px;
    color: var(--VeryDarkDesaturatedBlue)
}

.position {
    font-size: 24px;
    color: var(--GrayishBlue);
    padding: 20px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .img-desktop {
    display: none;
    width: 100%;
}

.gallery .img-mobile {
    width: 10%;
    display: block;
    flex: 50%;
}

footer {
    padding: 100px 0;
    background-color: var(--DarkModerateCyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer .logo {
    width: 300px;
    filter: brightness(0) invert(39%) sepia(67%) saturate(323%) hue-rotate(118deg) brightness(90%) contrast(90%);
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 20px;
}

.footer-menu a {
    font-size: 24px;
    color: var(--DarkModerateCyan2);
}

.footer-menu a:hover {
    color: var(--White)
}


.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 50px 0px 20px;
}

.attribution {
    margin-top: 15px;
    color: var(--DarkModerateCyan2);
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: var(--DarkBlue)
}


@media screen and (min-width: 1440px) {
    .img-desktop {
        display: block;
        width: 100%;
    }

    .img-mobile {
        display: none;
        width: 100%;
    }

    .logo {
        width: 200px;
    }

    .menu-list {
        display: flex;
        position: static;
    }

    .triangle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        background-color: transparent;
        padding: 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    li a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }

    li a:hover {
        text-decoration: underline;
    }

    .hamburger {
        display: none;
    }

    .btn {
        font-family: "fraunces", sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px 20px;
        background-color: var(--White);
        border-radius: 50px;
        cursor: pointer;
        color: var(--VeryDarkDesaturatedBlue);
        margin-left: 40px;
        margin-top: 0px;
    }

    .btn:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
    }

    .hero-desc {
        font-size: 36px;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content .img-desktop {
        display: block;
    }

    .content-desc {
        flex: 50%;
        align-items: flex-start;
        padding: 100px 200px;
    }

    .content-desc h2 {
        text-align: start;
    }

    .content-desc p {
        text-align: start;
    }

    .flex-a {
        order: 1;
    }

    .flex-b {
        order: 2;
    }

    .flex-c {
        order: 3;
    }

    .flex-d {
        order: 4;
    }

    .flex-e {
        order: 5;
    }

    .flex-f {
        order: 6;
    }

    .ocontent .img-mobile {
        display: none;
    }

    .content .img-desktop {
        display: block;
        flex: 50%;
    }

    .overlay-text {
        flex: 50%;

    }

    .overlay-img {
        width: 50%;
    }

    .testimonials {
        padding: 200px 0px 200px;
    }

    .testimonials h2 {
        font-size: 2rem;
    }


    .clients-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 50px;
    }

    .client {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        width: 25%;
        padding: 2px 0;
    }

    .gallery .img-mobile {
        display: none;
    }

    .gallery .img-desktop {
        width: 10%;
        display: block;
        flex: 25%;
    }

    footer {
        padding: 100px 0;
    }


}